.tab {
  display: flex;
  justify-content: center;
}

.panel {
  overflow: auto;
  display: inline-block;
  margin-top: 5px;
  padding: 20px;
  width: 105vh;
  height: 60vh;

}

.loading {
  margin-top: 20vh;
  height: 35.5vh;
  width: 100vh;

}

.tabBody {
  height: 95vh;
  overflow: auto;
}



@media only screen and (max-width: 1024px) {

  .fieldset {
    overflow: scroll;

  }

  .tabBody {
    height: 95vh;
  }
}