.about-window {
  position: absolute;
  top: 10vh;
  left: 40vh;
  height: 80vh;
  width: 115vh;

}

.about-window-header {
  display: flex;
  justify-content: space-between;
}

.about-close-icon {
  margin: 3.5px 2px;

}

.avatar {
  float: left;
  padding: 10px;
  height: 25vh;
  border-radius: 50%;

}

.title {
  color: black;
  margin-top: 5vh;
  padding: 10px;
  font-size: 8vh;
}

.tab {
  display: flex;
  justify-content: center;
}

.aboutMikko {
  padding: 0 20px 20px 0;
  float: right;
}

.tabBody {
  margin: 0;
  padding: 0;
  height: 64vh;
}

.panel {
  overflow: auto;
  display: inline-block;
  margin-top: 5px;
  padding: 20px;
  width: 105vh;
  height: 60vh;
  
}

.loading {
  margin-top: 20vh;;
  height: 35.5vh;
  width: 100vh;
}

.tech-icons {
  padding: 10px;
  margin: 15px;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech-icons-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) { 
.about-window {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.tabBody {
  height: 95vh;
}

.window-content {
  height: 82vh;
}

.panel {
  height: 75vh;
}

.avatar {
  height: 25vh;
}

.title {
  margin-top: 0;
  font-size: 6vh;
}

.loading {
  margin-top: 50vh;
  height: 35.5vh;
  width: 30vh;
}


.avatar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
}