.about-window {
  position: absolute;
  top: 10vh;
  left: 40vh;
  height: 75vh;
  width: 115vh;

}

.about-window-header {
  display: flex;
  justify-content: space-between;
}

.about-close-icon {
  margin: 3.5px 2px;

}

.avatar {
  float: left;
  padding: 10px;
  height: 28vh;

}

.title {
  color: black;
  margin-top: 5vh;
  padding: 10px;
  font-size: 8vh;
}

.aboutMikko {
  padding: 0 20px 20px 0;
  float: right;
}

.panel {
  overflow: auto;
  display: inline-block;
  padding: 20px;
  width: 109.5vh;
  height: 58vh;
  
}