.about-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10vh;
  left: 30vh;
  height: 80vh;
  width: 115vh;

}

.about-window-header {
  display: flex;
  justify-content: space-between;
}

.about-close-icon {
  margin: 3.5px 2px;

}

.avatar {
  float: left;
  padding: 10px;
  height: 25vh;
  border-radius: 50%;

}

.avatar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  color: black;
  margin-top: 5vh;
  padding: 10px;
  font-size: 8vh;
}

.tab {
  display: flex;
  justify-content: center;
}

.aboutMikko {
  padding: 0 20px 20px 0;
  float: right;

}

.tabBody {
  margin: 0;
  padding: 0;
  height: 64vh;
}

.panel {
  overflow: auto;
  display: inline-block;
  margin-top: 5px;
  padding: 20px;
  width: 105vh;
  height: 60vh;

}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
}

.tech-icons {
  padding: 10px;
  margin: 15px;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .h1 {
    font-size: 10px;
  }
}

.tech-icons-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .about-window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
  }

  .tabBody {
    height: 95vh;
  }

  .window-content {
    height: 70vh;
  }

  .panel {
    height: 63vh;
  }

  .avatar {
    height: 15vh;
  }

  .title {
    margin-top: 0;
    font-size: 4vh;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    max-height: 70vh;
    
  }


  .avatar-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: max-content;
  }

  .techname {
    font-size: 1.5rem;
  }


}