.projects-window {
  position: absolute;
  top: 15vh;
  left: 25vh;
  height: 82vh;
  width: 115vh;

}

.projects-window-header {
  display: flex;
  justify-content: space-between;
}

.projects-close-icon {
  margin: 3.5px 2px;

}

.tab {
  display: flex;
  justify-content: center;
}

.tabBody {
  margin: 0;
  padding: 0;
  height: 200vh;
}

.up4grabs-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

.resourcr-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

.covid-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

