.projects-window {
  position: absolute;
  top: 5vh;
  left: 25vh;
  height: max-content;
  width: 115vh;
  /* z-index: 1; */

}

/* projects-window.active {
  z-index: 2;
} */

.projects-window-header {
  display: flex;
  justify-content: space-between;
}

.projects-close-icon {
  margin: 3.5px 2px;

}

.tab {
  display: flex;
  justify-content: center;
}

.header-tab {
  cursor: pointer;
}

.tabBody {
  margin: 0;
  padding: 0;
  height: max-content;
}

.up4grabs-gif {
  margin: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.resourcr-gif {
  margin: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.covid-gif {
  margin: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.irhealth-img {
  margin: 0;
  height: 75%;
  width: 75%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.kamika-img {
  margin: 0;
  height: 75%;
  width: 75%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.comments-section-gif {
  margin: 0;
  height: max-content;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-card-img {
  margin: 0;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fieldset {
  width: 105vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  margin-top: 20vh;;
  height: 35.5vh;
  width: 100vh;

}

.redirect {
  font-size: 0px;
}

@media only screen and (max-width: 1024px) { 
  .projects-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
  .window-tab {
    font-size: 1rem;
    margin: auto;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 100%;
    max-height: max-content;
  }

  
  .projects-window-content {
    height: 70vh;
  }
  
  .fieldset {
    height: 61vh;
    width: 100%;
    overflow: scroll;
    
  }
  
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .irhealth-img, .kamika-img, .comments-section-gif, .product-card-img, .up4grabs-gif, .resourcr-gif,.covid-gif {
    margin-top: 0;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block
  }

  .redirect {
    margin-top: 30px;
    background-color: #fefbcc;    ;
    border-style: dotted;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;;
  }

  
}  

