.projects-window {
  position: absolute;
  top: 5vh;
  left: 25vh;
  height: 82vh;
  width: 115vh;
  /* z-index: 1; */

}

/* projects-window.active {
  z-index: 2;
} */

.projects-window-header {
  display: flex;
  justify-content: space-between;
}

.projects-close-icon {
  margin: 3.5px 2px;

}

.tab {
  display: flex;
  justify-content: center;
}

.header-tab {
  cursor: pointer;
}

.tabBody {
  margin: 0;
  padding: 0;
  height: 65vh;
}

.up4grabs-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

.resourcr-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

.covid-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;

}

.girlypop-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;
}

.comments-section-gif {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;
}

.product-card-img {
  margin: 0;
  height: 55vh;
  width: 100vh;
  object-fit: cover;
}

.fieldset {
  width: 105vh;
  height: 55vh;
}

.loading {
  margin-top: 20vh;;
  height: 35.5vh;
  width: 100vh;

}

.redirect {
  font-size: 0px;
}

@media only screen and (max-width: 430px) { 
  .projects-window {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
  .window-tab {
    font-size: 11px;
    margin: auto;
    font-weight: 500;
    word-wrap: break-word;
    max-width: max-content;
    max-height: max-content;
    padding: 1px !important;
  }

  
  .projects-window-content {
    height: 82vh;
  }
  
  .fieldset {
    height: 70vh;
    width: max-content;
  }
  
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35.5vh;
    width: 30vh;
  }

  .girlypop-gif, .comments-section-gif, .product-card-img, .up4grabs-gif, .resourcr-gif,.covid-gif {
    margin-top: 0;
    padding-top: 0px;
    width: 100%;
    object-fit: fit;
  }

  .redirect {
    background-color: #fefbcc;    ;
    border-style: dotted;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;;
  }

  
}  

