* {
  margin: 0;
  
}

body, html {
  overflow: hidden;
  cursor: url(https://www.clipartmax.com/png/full/248-2489841_renaissance-and-vaporwave-windows-95-mouse-cursor.png), crosshair;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/06/12/20/27/sun-2396716_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text {
  color: white;
  position: fixed;
  bottom: 70%;
  right: 0%;
  font-size: xxx-large;
}

.icon-label {
  background-color: #ED67FE;
  margin: 5px 15px 5px 15px;
}

.github {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 27%;
  left: 1%;
}

.linkedin {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 45%;
  left: 1.5%;
}

.resume {
    cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 8%;
  left: .5%;
}


.projects {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 63%;
  left: 1%;
}

.about {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 80%;
  left: 1%;

}

@media only screen and (max-width: 430px) { 
.text {
  width: 300px;
}
}